#search-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.item{
  border: 1px solid black;
  width: 700px;
  margin: 10px 0;
  padding: 10px;
}
.form{
  width: 700px;
  margin: 10px auto;
  border: 1px solid black;
}
#nextPageLoad{
  display: block;
  width: 710px;
  margin: 10px auto;
}
.w100p{
  width: 100%;
  display: block;
}
.vertical-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bottom-margin{
  margin-bottom: 10px;
}